Flow-Node-RED
[{"id":"3ba4e9e6.cb4376","type":"tab","label":"Projeto Embarcados","disabled":false,"info":""},{"id":"d6a29203.4bb33","type":"ui_tab","name":"AUTOMAÇÃO","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"bfc64f65.7b893","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#824aa1","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#824aa1","edited":true},"page-titlebar-backgroundColor":{"value":"#824aa1","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#a677c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#824aa1","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c1e0aba.53efe58","type":"ui_group","name":"SENSOR","tab":"d6a29203.4bb33","order":2,"disp":true,"width":"6","collapse":false},{"id":"864b0582.426f18","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"d1ba4c31.52666","type":"ui_group","name":"DATABASE (1 msg p/ min)","tab":"d6a29203.4bb33","order":3,"disp":true,"width":"9","collapse":false},{"id":"a76d3097.ab4bb","type":"MySQLdatabase","name":"","host":"database.cobyve8ytzgn.sa-east-1.rds.amazonaws.com","port":"3306","db":"suga","tz":"BR","charset":"UTF8"},{"id":"d7262e55.24a7","type":"ui_group","name":"CONTROLE","tab":"d6a29203.4bb33","order":1,"disp":true,"width":"9","collapse":false},{"id":"2b28c786.2bd738","type":"ui_spacer","name":"spacer","group":"c1e0aba.53efe58","order":3,"width":"6","height":1},{"id":"e6a2f82b.8671f8","type":"ui_group","name":"Default","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"d703abfe.7d21b8","type":"ui_switch","z":"3ba4e9e6.cb4376","name":"","label":"Relay 1 (ON = 11 / OFF = 10)","tooltip":"","group":"d7262e55.24a7","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"11","onvalueType":"str","onicon":"","oncolor":"","offvalue":"10","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":500,"y":60,"wires":[["b796a5ad.7a2998"]]},{"id":"b796a5ad.7a2998","type":"mqtt out","z":"3ba4e9e6.cb4376","name":"","topic":"output1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"864b0582.426f18","x":720,"y":60,"wires":[]},{"id":"ebdb18f4.8ec678","type":"aedes broker","z":"3ba4e9e6.cb4376","name":"","mqtt_port":1883,"mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":150,"y":40,"wires":[[]]},{"id":"a1ad8635.016f08","type":"mqtt in","z":"3ba4e9e6.cb4376","name":"","topic":"temperature","qos":"2","datatype":"auto","broker":"864b0582.426f18","nl":false,"rap":true,"rh":0,"x":110,"y":240,"wires":[["f61509e1.87b748","4afb9f00.c77bf","d7ce22a6.4b16e"]]},{"id":"887df039.ecbb4","type":"mqtt in","z":"3ba4e9e6.cb4376","name":"","topic":"humidity","qos":"2","datatype":"auto","broker":"864b0582.426f18","nl":false,"rap":true,"rh":0,"x":100,"y":360,"wires":[["4b6575f9.b78eec","4afb9f00.c77bf","d7ce22a6.4b16e"]]},{"id":"f61509e1.87b748","type":"ui_text","z":"3ba4e9e6.cb4376","group":"c1e0aba.53efe58","order":1,"width":0,"height":0,"name":"","label":"Temperatura","format":"{{msg.payload}} ºC","layout":"row-spread","x":330,"y":240,"wires":[]},{"id":"4b6575f9.b78eec","type":"ui_text","z":"3ba4e9e6.cb4376","group":"c1e0aba.53efe58","order":2,"width":0,"height":0,"name":"","label":"Umidade","format":"{{msg.payload}} %","layout":"row-spread","x":340,"y":420,"wires":[]},{"id":"4afb9f00.c77bf","type":"ui_chart","z":"3ba4e9e6.cb4376","name":"","group":"c1e0aba.53efe58","order":4,"width":"6","height":"6","label":"Tempo Real (Intervalo de 1H)","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":390,"y":300,"wires":[[]]},{"id":"4a6e68f4.3594d8","type":"mysql","z":"3ba4e9e6.cb4376","mydb":"a76d3097.ab4bb","name":"","x":670,"y":480,"wires":[[]]},{"id":"f3963e0c.4f655","type":"inject","z":"3ba4e9e6.cb4376","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":130,"y":540,"wires":[["826cb76d.b64e08"]]},{"id":"826cb76d.b64e08","type":"function","z":"3ba4e9e6.cb4376","name":"SELECT","func":"msg.topic = \"SELECT * FROM sensor order by timeStamp DESC limit 5;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":540,"wires":[["198de8d1.d524e7"]]},{"id":"198de8d1.d524e7","type":"mysql","z":"3ba4e9e6.cb4376","mydb":"a76d3097.ab4bb","name":"","x":510,"y":540,"wires":[["5116f996.9ec0b8"]]},{"id":"5116f996.9ec0b8","type":"ui_template","z":"3ba4e9e6.cb4376","group":"d1ba4c31.52666","name":"Tabela com style","order":1,"width":"9","height":"3","format":"<div layout=\"row\" layout-align=\"start center\">\n  <span flex>Hora</span>\n  <span flex>Temperatura</span>\n  <span flex>Umidade</span>\n</div>\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"row in msg.payload\">\n  <span flex style=\"color: green\">{{row.timeStamp}}</span>\n  <span flex style=\"color: red\">{{row.temperatura}} °C</span>\n  <span flex style=\"color: blue\">{{row.umidade}}%</span>\n</div>\n ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":690,"y":540,"wires":[[]]},{"id":"3c96c6c1.90138a","type":"function","z":"3ba4e9e6.cb4376","name":"INSERT","func":"var temperature = msg.payload.temperature\nvar humidity = msg.payload.humidity\nmsg.topic = \"INSERT INTO sensor(`temperatura`,`umidade`) VALUES ('\"+temperature+\"', '\"+humidity+\"')\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":480,"wires":[["4f12a4fc.f3f93c"]]},{"id":"d7ce22a6.4b16e","type":"join","z":"3ba4e9e6.cb4376","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":190,"y":480,"wires":[["3c96c6c1.90138a"]]},{"id":"8117724a.aeffe","type":"change","z":"3ba4e9e6.cb4376","name":"Format data","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t  $series := [\t    { \"label\": \"temperatura (°C)\" , \"field\": \"temperatura\"  },\t    {  \"label\": \"umidade (%)\", \"field\": \"umidade\" }\t\t  ];\t  $xaxis := \"timeStamp\";\t  [\t    {\t      \"series\": $series.label,\t      \"data\": $series.[\t        (\t          $yaxis := $.field;\t          $$.payload.{\t            \"x\": $lookup($, $xaxis),\t            \"y\": $lookup($, $yaxis)\t          }\t        )\t      ]\t    }\t  ]\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":620,"wires":[["983e1086.60336"]]},{"id":"983e1086.60336","type":"ui_chart","z":"3ba4e9e6.cb4376","name":"24 hours data","group":"d1ba4c31.52666","order":4,"width":"8","height":"6","label":"Registro de 24H","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ea0b0b","#2d2da8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":740,"y":680,"wires":[[]]},{"id":"9f30022.aae9b","type":"mysql","z":"3ba4e9e6.cb4376","mydb":"a76d3097.ab4bb","name":"","x":450,"y":620,"wires":[["8117724a.aeffe"]]},{"id":"48ad3bbe.2b32a4","type":"inject","z":"3ba4e9e6.cb4376","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":130,"y":600,"wires":[["b5d80472.2357d8"]]},{"id":"b5d80472.2357d8","type":"function","z":"3ba4e9e6.cb4376","name":"SELECT","func":"msg.topic = \"SELECT * FROM sensor where timeStamp >= now() - 84600;\"\nreturn msg;\n\n//msg.topic = \"SELECT * FROM tempLog where timeStamp >= now() - 84600;\"\n\n//msg.topic = \"SELECT temperature as temperatura, humidity as humidade, timeStamp FROM tempLog where timeStamp >= now() - 84600;\"\n\n//msg.topic = \"INSERT INTO tempLog (temperature,humidity) VALUES (\"+temperatura+\",\"+humidade+\" );\"\n\n//SELECT MAX(\"producaocatanduva\") as producao, time FROM \"Solar_IFSP\"  WHERE time >= now() - 30d GROUP BY time(1d)","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":600,"wires":[["9f30022.aae9b"]]},{"id":"457a381f.acc468","type":"mysql","z":"3ba4e9e6.cb4376","mydb":"a76d3097.ab4bb","name":"","x":730,"y":800,"wires":[[]]},{"id":"1fd0f0f7.459f2f","type":"function","z":"3ba4e9e6.cb4376","name":"INSERT","func":"var output1 = msg.payload.output1\nvar output2 = msg.payload.output2\nvar output3 = msg.payload.output3\nvar output4 = msg.payload.output4\nmsg.topic = \"INSERT INTO relay(`relay1`,`relay2`,`relay3`,`relay4` ) VALUES ('\"+output1+\"','\"+output2+\"','\"+output3+\"','\"+output4+\"')\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":800,"wires":[["cf4b9a1c.583998"]]},{"id":"73eabd51.4fb244","type":"mqtt in","z":"3ba4e9e6.cb4376","name":"","topic":"output1","qos":"2","datatype":"auto","broker":"864b0582.426f18","nl":false,"rap":true,"rh":0,"x":130,"y":720,"wires":[["d4006da4.d4a5b"]]},{"id":"d729527e.2a963","type":"mqtt in","z":"3ba4e9e6.cb4376","name":"","topic":"output2","qos":"2","datatype":"auto","broker":"864b0582.426f18","nl":false,"rap":true,"rh":0,"x":130,"y":780,"wires":[["d4006da4.d4a5b"]]},{"id":"c737d8c8.219398","type":"mqtt in","z":"3ba4e9e6.cb4376","name":"","topic":"output3","qos":"2","datatype":"auto","broker":"864b0582.426f18","nl":false,"rap":true,"rh":0,"x":130,"y":840,"wires":[["d4006da4.d4a5b"]]},{"id":"fe66240.e1db0e","type":"mqtt in","z":"3ba4e9e6.cb4376","name":"","topic":"output4","qos":"2","datatype":"auto","broker":"864b0582.426f18","nl":false,"rap":true,"rh":0,"x":130,"y":900,"wires":[["d4006da4.d4a5b"]]},{"id":"96b31daa.a7b6e","type":"ui_switch","z":"3ba4e9e6.cb4376","name":"","label":"Relay 2 (ON = 21 / OFF = 20)","tooltip":"","group":"d7262e55.24a7","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"21","onvalueType":"str","onicon":"","oncolor":"","offvalue":"20","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":510,"y":120,"wires":[["f8fa6d41.0ba69"]]},{"id":"f8fa6d41.0ba69","type":"mqtt out","z":"3ba4e9e6.cb4376","name":"","topic":"output2","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"864b0582.426f18","x":720,"y":120,"wires":[]},{"id":"84566995.300a28","type":"ui_switch","z":"3ba4e9e6.cb4376","name":"","label":"Relay 3 (ON = 31 / OFF = 30)","tooltip":"","group":"d7262e55.24a7","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"31","onvalueType":"str","onicon":"","oncolor":"","offvalue":"30","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":510,"y":180,"wires":[["9b805f52.a4f7a"]]},{"id":"9b805f52.a4f7a","type":"mqtt out","z":"3ba4e9e6.cb4376","name":"","topic":"output3","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"864b0582.426f18","x":720,"y":180,"wires":[]},{"id":"2a9ffc6b.68eac4","type":"ui_switch","z":"3ba4e9e6.cb4376","name":"","label":"Relay 4 (ON = 41 / OFF = 40)","tooltip":"","group":"d7262e55.24a7","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"41","onvalueType":"str","onicon":"","oncolor":"","offvalue":"40","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":490,"y":360,"wires":[["abd29235.ef008"]]},{"id":"abd29235.ef008","type":"mqtt out","z":"3ba4e9e6.cb4376","name":"","topic":"output4","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"864b0582.426f18","x":720,"y":240,"wires":[]},{"id":"cf4b9a1c.583998","type":"delay","z":"3ba4e9e6.cb4376","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":800,"wires":[["457a381f.acc468"]]},{"id":"11e4261e.ec3e9a","type":"inject","z":"3ba4e9e6.cb4376","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":150,"y":1000,"wires":[["1f6bc95f.0fd3e7"]]},{"id":"1f6bc95f.0fd3e7","type":"function","z":"3ba4e9e6.cb4376","name":"SELECT","func":"msg.topic = \"SELECT * FROM relay order by timeStamp DESC limit 5;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1000,"wires":[["baf69f69.37f83"]]},{"id":"baf69f69.37f83","type":"mysql","z":"3ba4e9e6.cb4376","mydb":"a76d3097.ab4bb","name":"","x":530,"y":1000,"wires":[["bcedca33.24aff8"]]},{"id":"bcedca33.24aff8","type":"ui_template","z":"3ba4e9e6.cb4376","group":"d7262e55.24a7","name":"Tabela com style","order":1,"width":"9","height":"5","format":"<div layout=\"row\" layout-align=\"start center\">\n  <span flex>Hora</span>\n  <span flex>R1</span>\n  <span flex>R2</span>\n  <span flex>R3</span>\n  <span flex>R4</span>\n</div>\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"row in msg.payload\">\n  <span flex style=\"color: green\">{{row.timeStamp}}</span>\n  <span flex style=\"color: red\">{{row.relay1}}</span>\n  <span flex style=\"color: blue\">{{row.relay2}}</span>\n  <span flex style=\"color: yellow\">{{row.relay3}}</span>\n  <span flex style=\"color: pink\">{{row.relay4}}</span>\n</div>\n ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":710,"y":1000,"wires":[[]]},{"id":"d4006da4.d4a5b","type":"join","z":"3ba4e9e6.cb4376","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":280,"y":800,"wires":[["1fd0f0f7.459f2f"]]},{"id":"9e5edd98.6987f","type":"mysql","z":"3ba4e9e6.cb4376","mydb":"a76d3097.ab4bb","name":"","x":750,"y":1100,"wires":[[]]},{"id":"d73d00a1.66456","type":"function","z":"3ba4e9e6.cb4376","name":"","func":"msg.topic = \"TRUNCATE TABLE sensor;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1080,"wires":[["34c5cbf5.a09084"]]},{"id":"95e942fc.d343e","type":"function","z":"3ba4e9e6.cb4376","name":"","func":"msg.topic = \"TRUNCATE TABLE relay;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1140,"wires":[["34c5cbf5.a09084"]]},{"id":"34c5cbf5.a09084","type":"delay","z":"3ba4e9e6.cb4376","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":1100,"wires":[["9e5edd98.6987f"]]},{"id":"97533e97.630d3","type":"inject","z":"3ba4e9e6.cb4376","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":1100,"wires":[["d73d00a1.66456","95e942fc.d343e"]]},{"id":"4f12a4fc.f3f93c","type":"delay","z":"3ba4e9e6.cb4376","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":510,"y":480,"wires":[["4a6e68f4.3594d8"]]}]
